<!DOCTYPE html>
<html>

<head>
  <title>Iso 8583</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./public/bootstrap/css/bootstrap.min.css">
  <script src="./public/bootstrap/js/jquery.min.js"></script>
  <script src="./public/bootstrap/js/bootstrap.min.js"></script>
  <link href="./public/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
  <script src="./public/bootstrap-table/bootstrap-table.min.js"></script>
</head>

<style>
  .selected {
    background-color: #428bca;
    color: white;
  }
</style>

<nav class="navbar-inverse" style="background-color:#F27228">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="color:white" href="#">GATEWAY CONVERSATION</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav ">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" style="color:white" href="#">
            General
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1.1</a></li>
            <li><a href="#">Page 1.2</a></li>
            <li><a href="#">Page 1.3</a></li>
          </ul>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" style="color:white" href="#">
            Communication
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">TCP/IP</a></li>
            <li><a href="#">WebService</a></li>
            <li><a href="#">TLS</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" style="color:white" href="#">
            Interface
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Iso 8583</a></li>
            <li><a href="#">Iso 20022</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" style="color:white" href="#">
            Core
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Routing</a></li>
            <li><a href="#">Validate</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" style="color:white" href="#">
            User
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">User management</a></li>
            <li><a href="#">User access</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a style="color:white" href="#"><span class="glyphicon glyphicon-user"></span> User profile</a></li>
        <li><a style="color:white" href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<body>
  <div>
    <div class="col-sm-12">
      <h1>ISO 8583</h1>
    </div>
    <div class="col-sm-6">
      <div>
        <table id="table" class="table table-hover table-bordered" data-toggle="table" data-pagination="true" data-page-size="10" data-click-to-select="true"
        data-show-refresh="true"
        data-show-toggle="true"
        data-show-fullscreen="true"
        data-show-columns="true"
        data-show-columns-toggle-all="true" 
        >
          <thead>
            <tr>
              <th style="width: 10%">
                <p class="text-center">Field</p>
              </th>
              <th style="width: 30%">
                <p class="text-center">Data size</p>
              </th>
              <th style="width: 60%">
                <p class="text-center">Var size</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="selected">
              <td class="rowTd text-center">
                1
              </td>
              <td class="rowTd text-center">
                a
              </td>
              <td class="rowTd text-left ">
                b
              </td>
            </tr>
            <tr>
              <td class="rowTd text-center">
                2
              </td>
              <td class="rowTd text-center">
                a
              </td>
              <td class="rowTd text-left ">
                b
              </td>
            </tr>
            <tr>
              <td class="rowTd text-center">
                3
              </td>
              <td class="rowTd text-center">
                a
              </td>
              <td class="rowTd text-left ">
                b
              </td>
            </tr>
            <tr>
              <td class="rowTd text-center">
                4
              </td>
              <td class="rowTd text-center">
                a
              </td>
              <td class="rowTd text-left ">
                b
              </td>
            </tr>
            <tr>
              <td class="rowTd text-center">
                5
              </td>
              <td class="rowTd text-center">
                a
              </td>
              <td class="rowTd text-left ">
                b
              </td>
            </tr>
            <tr>
              <td class="rowTd text-center">
                6
              </td>
              <td class="rowTd text-center">
                a
              </td>
              <td class="rowTd text-left ">
                b
              </td>
            </tr>
            <tr>
              <td class="rowTd text-center">
                7
              </td>
              <td class="rowTd text-center">
                a
              </td>
              <td class="rowTd text-left ">
                b
              </td>
            </tr>
            <tr>
              <td class="rowTd text-center">
                8
              </td>
              <td class="rowTd text-center">
                a
              </td>
              <td class="rowTd text-left ">
                b
              </td>
            </tr>
            <tr>
              <td class="rowTd text-center">
                9
              </td>
              <td class="rowTd text-center">
                a
              </td>
              <td class="rowTd text-left ">
                b
              </td>
            </tr>
            <tr>
              <td class="rowTd text-center">
                10
              </td>
              <td class="rowTd text-center">
                a
              </td>
              <td class="rowTd text-left ">
                b
              </td>
            </tr>
            <tr>
              <td class="rowTd text-center">
                11
              </td>
              <td class="rowTd text-center">
                a
              </td>
              <td class="rowTd text-left ">
                b
              </td>
            </tr>
            <tr>
              <td class="rowTd text-center">
                12
              </td>
              <td class="rowTd text-center">
                a
              </td>
              <td class="rowTd text-left ">
                b
              </td>
            </tr>
            <tr>
              <td class="rowTd text-center">
                13
              </td>
              <td class="rowTd text-center">
                a
              </td>
              <td class="rowTd text-left ">
                b
              </td>
            </tr>
            <tr>
              <td class="rowTd text-center">
                14
              </td>
              <td class="rowTd text-center">
                a
              </td>
              <td class="rowTd text-left ">
                b
              </td>
            </tr>
            <tr>
              <td class="rowTd text-center">
                15
              </td>
              <td class="rowTd text-center">
                a
              </td>
              <td class="rowTd text-left ">
                b
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="well">
        <label class="control-label">Field</label>
        <input type="text" class="form-control">
        <label class="control-label">Is exist</label>
        <select id="is_exist" class="form-control">
          <option value=0>No</option>
          <option value=1>Yes</option>
        </select>
        <label class="control-label">Data size</label>
        <input type="text" class="form-control">
        <label class="control-label">Data format</label>
        <select id="data_format" class="form-control">
          <option value=0>BCD</option>
          <option value=1>RAW</option>
          <option value=2>ASCII</option>
          <option value=3>EBCDIC</option>
          <option value=4>BIT</option>
          <option value=5>XN</option>
          <option value=6>XB</option>
          <option value=7>X</option>
        </select>
        <label class="control-label">Var size</label>
        <input type="text" class="form-control">
        <label class="control-label">Var format</label>
        <select id="var_format" class="form-control">
          <option value=0>BCD</option>
          <option value=1>RAW</option>
          <option value=2>ASCII</option>
          <option value=3>EBCDIC</option>
          <option value=4>BIT</option>
          <option value=5>XN</option>
          <option value=6>XB</option>
          <option value=7>X</option>
        </select>
      </div>
    </div>
  </div>
</body>
<script>
  // var $table = $('#table')
  $("#table tbody tr").click(function () {
    console.log("click");
    $(this).addClass('selected').siblings().removeClass('selected');
  });
</script>

</html>